.header {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: var(--max-content-width);
  width: 100%;
  padding: 0 15px;

  @media (max-width: 768px) {
    height: 44px;
  }
}

.header__icon_button__container {
  width: 24px;
  height: 24px;
}
