.header {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;

  @media (max-width: 768px) {
    height: 44px;
  }
}

.header__icon_button__container {
  width: 24px;
  height: 24px;
}
